---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Forside</title>
	</head>
	<body>
		<header>
			<nav></nav>
		</header>

		<main>
			<img>
			<section>
				<img> logo
				<h1>Music | Visualisation | Guide on/off</h1>
				<p>Empowering pauses</p>
				<a href="knap">PRØV 14 DAGE GRATIS</a>
			</section>
			<section class="grid_4_1fr">
				<img src="" alt="">
				<img src="" alt="">
				<img src="" alt="">
				<img src="" alt="">
			</section>
			<section class="grid_2_1fr">
				<div>
					<img src="" alt="">
				</div>
				<div>
					<h2>Find ro og fokus i en travl hverdag</h2>
					<p>Med SoundWheel får du guidede lydrejser, der hjælper dig med at reducere stress, finde ro og genoplade mentalt  uanset om du bruger det på arbejdet eller derhjemme.</p>
					<p>Korte mentale pauser gør en mærkbar forskel for både trivsel og koncentration.</p>
					<p>SoundWheels unikke lydunivers er udviklet til at skabe balance, øge fokus og give nyt overskud - til dig eller dit team.</p>
					<p>KØB ADGANG<br>49 kr/måneden</p>
					<a href="knap">START PRØVEPERIODE</a>
				</div>
			</section>
			<section class="grid_2_1fr">
				<div>
					<h2>Optimer trivsel og performance i din organisation</h2>
					<p>Skab bedre mentale pauser med SoundWheel Work - et digitalt værktøj designet til at styrke medarbejdernes fokus, reducere stress og øge den samlede produktivitet.</p>
					<p>I en tid med højt arbejdspres og komplekse krav til performance er mental bæredygtighed afgørende for at fastholde engagement og effektivitet.</p>
					<p>SoundWheel Work integreres let i arbejdsdagen og giver organisationer et konkret redskab til at understøtte trivsel, fokus og resultater - på både individ- og teamniveau.</p>
					<p>KØB ADGANG<br>Fra 9.999 kr for hele organisationen</p>
					<a href="knap">START PRØVEPERIODE</a>
				</div>
				<div>
					<img src="" alt="">
				</div>
			</section>
			<h1>Styrk trivslen og skab rum for bedre pauser</h1>
			 <section class="grid_3_1fr">
				<article>
					<p>Soundwheel Work 1K</p>
					<p>Op til 1.000 brugere</p>
					<p>19.999 kr /år ekslusiv moms</p>
					<a href="knap">VÆLG PLAN</a>
				</article>
				<article>
					<p>Soundwheel Work 500</p>
					<p>Op til 500 brugere</p>
					<p>14.999 kr /år ekslusiv moms</p>
					<a href="knap">VÆLG PLAN</a>
				</article>
				<article>
					<p>Soundwheel Work 100</p>
					<p>Op til 100 brugere</p>
					<p>9.999 kr /år ekslusiv moms</p>
					<a href="knap">VÆLG PLAN</a>
				</article>
			</section>
			<section>
				<h2>Samarbejdspartnere</h2>
				<div class="grid_3_1fr">
					<img src="" alt="">
					<img src="" alt="">
					<img src="" alt="">
					<img src="" alt="">
					<img src="" alt="">
					<img src="" alt="">
				</div>
			</section>
		</main>
		<footer>
			<section class="grid_1_1fr">
				<div>
					<h2>Nyhedsbrev</h2>
					<p>Tilmeld dig vores nyhedsbrev<br>og få det seneste nyt fra os som den første!</p>
					<p>E-mail...</p>
					<a href="knap">Til</a>
				</div>
				<div>
					<h2>Om os</h2>
					<a href="">Kontakt os her</a>
					<a href="">Vilkår og abonnement</a>
					<a href="">Privatlivspolitik</a>
					<div class="footer_socials">
						<a href=""><img src="" alt="Facebook"></a>
						<a href=""><img src="" alt="Instagram"></a>
						<a href=""><img src="" alt="LinkedIn"></a>
					</div>
				</div>
			</section>
			<section class="footer_line">
				<p>© 2025 SoundWheel. Alle rettigheder forbeholdes.</p>
				<img src="" alt="Soundwheel logo">
			</section>
		</footer>
	</body>
</html>
