---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <header>
      <img src="imgs/logo.webp" alt="logo" />
      <nav>
        <ul class="menu">
          <a href="menu.html">Forside</a>
          <a href="about.html">Soundwheel Pro</a>
          <a href="contact.html">Blog</a>
        </ul>
      </nav>
      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </header>
    <div>
      <h1>Tag på en lydrejse her</h1>
    </div>
    <div>
      <img src="/imgs/logo_02.webp" alt="" />
    </div>
    <div>
      <img src="billede" alt="" />
    </div>
    <div class="grid_1_1">
      <h1>Soundwheel gennem tiden</h1>
      <img src="portræt" alt="" />
      <p>Soundwheel blev født ud af en længsel efter stilhed. Efter år i musikbranchen opdagede Kristian, at lyden ikke kun handler om rytme - men om rum, ro og resonans. I dag er Soundwheel et lydunivers, hvor musik møder mindfulness, og hvor hver tone inviterer til fordybelse.</p>
      <h2>Fra scenelys til stillhed</h2>
      <p>Som den ene halvdel af UFO Yepha var Kristian vant til fulde sale, lys og larm.Men midt i tempoet voksede trangen til at finde noget ægte. Soundwheel blev hans nye vej: en lydrejse mod ro, refleksion og balance.</p>
    </div>
    <div class="grid_1_1">
      <h2>Teamet bag Soundwheel</h2>
      <p>Soundwheel udspringer af en fælles fascination af, hvordan lyd kan skabe ro, fokus og fællesskab. Efter mange år i musikbranchen søgte Kristian en ny måde at arbejde med lyd på, som inviterer til nærvær frem for støj. Undervejs samlede han Claus, Jonas og Andreas, der hver især bidrager med kreativitet, teknisk viden og sans for oplevelser.</p>
      <h2>Sammen skaber de Soundwheel, et univers hvor lyd bliver et redskab til balance i en travl verden.</h2>
      <img src="portræt" alt="" />
    </div>
    <div class="grid_1_1">
      <img src="portræt" alt="" />
      <h2>Bring ro og lydbevidsthed ind i jeres hverdag</h2>
      <p>Soundwheel skaber skræddersyede foredrag og lydrejser, der styrker ro, fokus og fællesskab på arbejdspladsen. Kristian deler sin historie og guider deltagerne gennem sanselige oplevelser, der bringer balance midt i hverdagen.</p>
    </div>
    <section class="grid_3_1fr">
      <div>
        <p>Soundwheel Work 1K</p>
        <p>Op til 1.000 brugere</p>
        <p>19.999 kr /år ekslusiv moms</p>
        <a href="knap">VÆLG PLAN</a>
      </div>
      <div>
        <p>Soundwheel Work 500</p>
        <p>Op til 500 brugere</p>
        <p>14.999 kr /år ekslusiv moms</p>
        <a href="knap">VÆLG PLAN</a>
      </div>
      <div>
        <p>Soundwheel Work 100</p>
        <p>Op til 100 brugere</p>
        <p>9.999 kr /år ekslusiv moms</p>
        <a href="knap">VÆLG PLAN</a>
      </div>
    </section>
  </body>

  <footer>
    <section class="grid_1_1fr">
      <div>
        <h2>Nyhedsbrev</h2>
        <p>Tilmeld dig vores nyhedsbrev<br />og få det seneste nyt fra os som den første!</p>
        <p>E-mail...</p>
        <a href="knap">Til</a>
      </div>
      <div>
        <h2>Om os</h2>
        <a href="">Kontakt os her</a>
        <a href="">Vilkår og abonnement</a>
        <a href="">Privatlivspolitik</a>
        <div class="footer_socials">
          <a href=""><img src="" alt="Facebook" /></a>
          <a href=""><img src="" alt="Instagram" /></a>
          <a href=""><img src="" alt="LinkedIn" /></a>
        </div>
      </div>
    </section>
    <section class="footer_line">
      <p>© 2025 SoundWheel. Alle rettigheder forbeholdes.</p>
      <img src="" alt="Soundwheel logo" />
    </section>
  </footer>
</html>
