---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <header>
      <img src="logo" alt="" />
      <nav>
        <ul class="menu">
          <a href="menu.html">Forside</a>
          <a href="about.html">Soundwheel Pro</a>
          <a href="contact.html">Blog</a>
        </ul>
      </nav>
      <div class="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </header>
    <div>
      <h1>hdjjdgghs</h1>
    </div>
    <div>
      <img src="logo" alt="" />
    </div>
    <div>
      <img src="billede" alt="" />
    </div>
    <div class="grid_1_1">
      <h1>overtekst</h1>
      <img src="portræt" alt="" />
      <p>tekst</p>
    </div>
    <div class="grid_1_1">
      <p>tekst</p>
      <img src="portræt" alt="" />
    </div>
    <div class="grid_1_1">
      <img src="portræt" alt="" />
      <p>tekst</p>
    </div>
    <section class="grid_3_1fr">
      <div>
        <p>Soundwheel Work 1K</p>
        <p>Op til 1.000 brugere</p>
        <p>19.999 kr /år ekslusiv moms</p>
        <a href="knap">VÆLG PLAN</a>
      </div>
      <div>
        <p>Soundwheel Work 500</p>
        <p>Op til 500 brugere</p>
        <p>14.999 kr /år ekslusiv moms</p>
        <a href="knap">VÆLG PLAN</a>
      </div>
      <div>
        <p>Soundwheel Work 100</p>
        <p>Op til 100 brugere</p>
        <p>9.999 kr /år ekslusiv moms</p>
        <a href="knap">VÆLG PLAN</a>
      </div>
    </section>
  </body>

  <footer>
    <section class="grid_1_1fr">
      <div>
        <h2>Nyhedsbrev</h2>
        <p>Tilmeld dig vores nyhedsbrev<br />og få det seneste nyt fra os som den første!</p>
        <p>E-mail...</p>
        <a href="knap">Til</a>
      </div>
      <div>
        <h2>Om os</h2>
        <a href="">Kontakt os her</a>
        <a href="">Vilkår og abonnement</a>
        <a href="">Privatlivspolitik</a>
        <div class="footer_socials">
          <a href=""><img src="" alt="Facebook" /></a>
          <a href=""><img src="" alt="Instagram" /></a>
          <a href=""><img src="" alt="LinkedIn" /></a>
        </div>
      </div>
    </section>
    <section class="footer_line">
      <p>© 2025 SoundWheel. Alle rettigheder forbeholdes.</p>
      <img src="" alt="Soundwheel logo" />
    </section>
  </footer>
</html>
